.cardImg{
  max-width: 80px;
  max-height: 120px;
}

.App {
  height: 100vh;
}

.backgound{
  background-color: grey;
}

*{
  background-color: grey;
  margin: 0;
  padding: 0;
}

.hand{
  display: flex;
  align-items: center;
  justify-content: center;
  height:30%;
  width: 80%;
}

.gameBoard{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 400px;
}

.suitStack{
  position: relative;
  z-index: 0;
  min-width: 80px;
  width: 25%;
  min-height: 120px;
  height: 100%;
}

.gameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cardInHandPostion{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50%;
}  


.scores{
  position: fixed;
  right: 30px;
}

.button{
  padding: 5px;
  font-size: medium;
  border-radius: 10px;
  font-weight: bold;
}

.options{
  display: flex;
  justify-content: space-evenly;
}