.cardImg{
  max-width: 80px;
  max-height: 120px;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.backgound{
  background-color: grey;

}

*{
  background-color: grey;
  margin: 0;
  padding: 0;
}

.hand{
  display: flex;
  align-items: center;
  justify-content: center;
  height:30%;
  width: 80%;
}

.gameBoard{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.gameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.cardInHandPostion{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50%;
}  
